<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>The Fan Favorite</title>
	<meta
		name="description"
		content="Extra controls for The Fan Favorite robot"
	/>

	<!-- Pico.css (Classless version) -->
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
	/>
</head>

<body>

	<main>
		<h1 style="text-align: center; margin: 0;">The <i>Fan</i> Favorite</h1>
	
		<fieldset>
            <legend><strong>Fan Mode</strong></legend>
            <label for="automatic">
				<input type="radio" id="automatic" name="automatic" value="automatic" />
				Automatic
            </label>
            <label for="manual">
				<input type="radio" id="manual" name="manual" value="manual" />
				Manual
            </label>
			<label for="off">
				<input type="radio" id="off" name="off" value="off" checked />
				Off
            </label>
		</fieldset>



		<label for="angle1">Vertical Angle:</label>
		<output>75</output>
		<input type="range" id="angle1" name="angle1" min="45.0" max="135.0" step="0.1" value="75" oninput="this.previousElementSibling.value = parseFloat(this.value).toFixed(1)" disabled />

		<label for="angle2">Horizontal Angle:</label>
		<output>90</output>
		<input type="range" id="angle2" name="angle2" min="0.0" max="180.0" step="0.1" value="90" oninput="this.previousElementSibling.value = parseFloat(this.value).toFixed(1)" disabled />

		<label for="speed">Fan speed:</label>
		<output>50</output>
		<input type="range" id="speed" name="speed" min="0" max="100" step="1" value="50" oninput="this.previousElementSibling.value = this.value" disabled />

	</main>

	<script>

		const FLASK_SERVER = "http://100.81.3.125:5000"

		function setOnInputs() {

			let radios = document.querySelectorAll("input[type=radio]");
			for (let i = 0; i < radios.length; i++) {
				radios[i].addEventListener("change", function () {
					if (radios[i].checked) {
						let path = "/set/state/" + radios[i].value;
						console.log(path);
						fetch(FLASK_SERVER + path);
					} 
					if (radios[i].id == "manual") {
						document.getElementById("angle1").disabled = !radios[i].checked;
						document.getElementById("angle2").disabled = !radios[i].checked;
					} 
					if (radios[i].id == "off") {
						document.getElementById("speed").disabled = radios[i].checked;
					} else {
						document.getElementById("speed").disabled = !radios[i].checked;
					}
				});
			}

			let ranges = document.querySelectorAll("input[type=range]");
			for (let i = 0; i < ranges.length; i++) {
				ranges[i].addEventListener("input", function () {
					let path = "/set/" + ranges[i].id + "/" + parseFloat(ranges[i].value);
					console.log(path);
					fetch(FLASK_SERVER + path);
				});
			}
		}

		setOnInputs();

		setInterval(function() {
			const path = "/get";
			fetch(FLASK_SERVER + path)
				.then(response => response.json())
				.then(data => {
					data.angle1 = parseFloat(data.angle1);
					data.angle2 = parseFloat(data.angle2);

					// console.log(data);

					document.querySelectorAll("input[type=radio]").forEach(radio => {
						radio.checked = data.state == radio.value;
					});
					

					document.getElementById("angle1").value = data.angle1;
					document.getElementById("angle2").value = data.angle2;

					document.getElementById("angle1").previousElementSibling.value = data.angle1.toFixed(1);
					document.getElementById("angle2").previousElementSibling.value = data.angle2.toFixed(1);
				});
		}, 250);

	</script>
</body>